.more-info {
    display: flex;
    gap: 40px;
    flex-direction: row;
    background-color: #2C2C2C;
    width: 80%;
    border-radius: 10px;
    padding: 30px;
    color: #FFFFFF;
}

/* Левая колонка */
.left-column {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.more-info_img {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.more-info_img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.description-section {
    padding: 15px;
    background: #373737;
    border-radius: 8px;
}

.more-info_description {
    font-size: 16px;
    color: #B1B1B1;
    line-height: 1.6;
    margin-top: 10px;
}

/* Правая колонка */
.right-column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.more-info_title {
    font-size: 32px;
    margin: 0 0 20px;
}

.more-info_bot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    gap: 20px;
}

.more-info_price {
    font-size: 24px;
    font-weight: bold;
}

.more-info_buy {
    padding: 12px 30px;
    width: 50%;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #FF5A5A;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.3s;
    flex-shrink: 0;
}

.more-info_buy:hover {
    background-color: #FF3A3A;
}

/* Адаптив для мобильных устройств */
@media (max-width: 768px) {
    .more-info {
        flex-direction: column;
        padding: 20px;
    }
    
    .more-info_title {
        font-size: 24px;
    }
    
    .more-info_price {
        font-size: 20px;
    }
    
    .more-info_buy {
        padding: 10px 20px;
        font-size: 16px;
    }
}