.home{
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin: 0 20%;   
}

.to-gameLink, .to-computerLink{
  text-decoration: none;
  color: white;
display: flex;
flex-direction: column;
align-items: center;
font-size: 22px;
font-family: 'Inter', sans-serif;
font-weight: bold;
}

.game-img, .comp-img{
  width: 400px;
  height: 500px;
}